<div class="container">
  <!-- <select name="mois" id="mois" class="mt-5 form-control col-sm-2 text-center">
    <option
      *ngFor="let m of Mois"
      [value]="MoisString[m.Mois - 1]"
      class="text-center"
    >
      {{ MoisString[m.Mois - 1] }}
    </option>
  </select> -->
  <div>
    <select
      class="mt-5 form-control col-sm-2 text-center"
      (change)="selectOption($event)"
      [(ngModel)]="selected"
    >
      <option [value]="item" *ngFor="let item of MoisString; let i = index">
        {{ item }}
      </option>
    </select>
  </div>
  <div class="card text-center mt-5">
    <div class="card-header">Bulletin</div>
    <div class="card-body" *ngFor="let i of allIndicators">
      <h5 class="card-title">{{ i["indicatorName"] }}</h5>
      <p class="card-text">{{ i["indicatorDesc"] }}</p>
      <h4>{{ ResponsePourcentage }} %</h4>
      <p>{{ rep }}</p>
    </div>
    <div class="card-footer text-muted">Mensuelle</div>
  </div>
  <input
    type="button"
    value="Visualiser"
    class="btn btn-success mt-2"
    (click)="onShow()"
  />

  <div
    style="width: 100%; height: auto"
    class="mt-3"
    id="bulletin"
    *ngIf="isShow"
  >
    <div id="header">
      <div class="row text-center">
        <div class="col">jhfggdf</div>
        <div class="col">
          <img
            src="./../../../../assets/images/logo_republique_mada.jpg"
            alt=""
            width="300px"
            height="160px"
          />
        </div>
        <div class="col">
          <img src="./../../../../assets/images/logo.png" alt="" />
        </div>
      </div>
    </div>

    <div id="body" class="position-relative">
      <div
        class="text-center border"
        style="width: 500px; height: auto; margin-left: 25%"
      >
        <p>CONTRAT DE PERFORMANCE</p>
        <p>BUREAU:</p>
      </div>

      <div class="text-center">
        <p>BULLETIN:</p>
        <p>DATE DE CALCUL:</p>
        <p>VERIFICATEUR:</p>
        <p>IM:</p>
      </div>

      <div class="container">
        <table class="table table-striped">
          <thead class="thead-light">
            <th>Indicateurs</th>
            <th>Réalisation par rapport à l'objectif</th>
            <th>Point</th>
            <th>Coefficient</th>
            <th>Note finale</th>
            <th>Observation</th>
            <th>Rang</th>
          </thead>
          <tbody>
            <tr *ngFor="let i of Bulletin">
              <td>{{ i.Id }}</td>
              <td>{{ i.Real }}%</td>
              <td>{{ i.Point }}</td>
              <td>{{ i.Coeff }}</td>
              <td>{{ i.NoteFinale }}</td>
              <td>{{ i.Obser }}</td>
              <td>{{ i.Rang }}</td>
            </tr>
            <tr>
              <td>Realisation</td>
              <td>{{ Realisation }}%</td>
              <td></td>
              <td></td>
              <td>{{ Notefi }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div id="footer" class="container">
      <p><u>INTERPRETATION: </u></p>
      <ul>
        <li><u>Réalisation:</u> {{ Notefi }} points,réference</li>
        <li><u>Rang:</u></li>
      </ul>
    </div>
  </div>
  <button class="btn btn-success" (click)="SavePDF()" *ngIf="isShow">
    Download PDF
  </button>
</div>
