<!-- Ajout indicateur -->
<div class="col-sm-8 col-sm-offset-2">
  <h3>Ajouter un indicateur</h3>
  <form [formGroup]="indicatorForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="indicator">Nom de l'indicateur</label>
      <input
        type="text"
      
        id="indicator"
        formControlName="indicator"
        placeholder="Indicateur 1"
        [ngClass]="{'form-control': true,
        'form-control is-invalid': !isValid
                    }"
      />
    </div>

    <!-- Ajout description indicateur -->
    <div class="form-row align-items-center">
      <div class="col">
        
        <div class="form-row align-items-center">
          <div class="col">
            <div *ngFor="let choix of Choix">
              <input
                #isChoice
                type="checkbox"
                [checked]="!isChoice"
                (change)="onChange(choix.name, isChoice.checked)"
              />
              {{ choix.name }}
            </div>
          </div>
          <div class="col" *ngIf="isChoice">
            <!-- <select class="mt-5 form-control text-center">
              <option value="">Circuit</option>
              <option [value]="c" *ngFor="let c of Circuit">
                {{ c }}
              </option>
            </select> -->
            <div *ngFor="let c of Circuit; let i = index">
              <input
                type="checkbox"
                [checked]="c.choisi"
                (change)="onChangeChoixCircuit(c.choix, !c.choisi)"
              />
              {{ c.choix }} {{ i }}
            </div>
          </div>
        </div>

        <!-- Comparaison -->
        <div class="form-row align-items-center">
          <div class="col">
            <div class="form-group">
              <select
                class="mt-5 form-control text-center"
                [disabled]="!isChoice"
              >
                <option value="">Comparaison</option>
                <option [value]="comp" *ngFor="let comp of Comparaison">
                  {{ comp }}
                </option>
              </select>
            </div>
          </div>

          <div class="col">
            <input
              type="text"
              class="form-control"
              id="min"
              placeholder="en minutes"
              [disabled]="!isChoice"
            />
          </div>
          <!-- <div class="col">
            <select class="mt-5 form-control text-center">
              <option value="">Par ordre</option>
              <option [value]="o" *ngFor="let o of Ordre">
                {{ o }}
              </option>
            </select>
          </div> -->
        </div>

        <!-- Ordre -->
        <div class="row">
          <div class="col">
            <div class="form-check" *ngFor="let o of Ordre; let i = index">
              <input
                class="form-check-input"
                type="radio"
                name="exampleRadios"
                [id]="'id' + i"
                [value]="o"
                [checked]="o.ordre == 'Croissant'"
                [disabled]="!isChoice"
              />
              <label class="form-check-label" [for]="'id' + i">
                {{ o.ordre }} {{ i }}
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- Choix circuit -->
      <div class="col">
        <div class="form-group">
          <label for="description">Description de l'indicateur</label>
          <textarea
            id="description"
          
            cols="30"
            rows="10"
            formControlName="description"
            placeholder="Ne pas dépasser les 255 caractères"
            [ngClass]="{'form-control': true,
            'form-control is-invalid': !isValid}"
          ></textarea>
        </div>
        
      </div>
    </div>

    <!-- Objectif et observation -->
    <div formArrayName="objectif_rating">
      <label for="O_R">L'objectif et les observation de l'indicateur </label>
      <div
        id="O_R"
        class="form-group"
        *ngFor="let O_R of getO_R().controls; let i = index"
      >
        <input
          type="text"
          [id]="i"
          class="form-control"
          [formControlName]="i"
          [placeholder]="PlaceHolder[i] + ' % '"
        />
      </div>
      <button
        type="button"
        class="btn btn-info ml-2"
        (click)="onAddO_R()"
        [disabled]="NbrO_R == 4"
        
      > Ajouter
      <i class="bi bi-plus-lg" ></i>
      </button>
      
    </div>

    <!-- Submit -->
    <button
      type="submit"
      class="btn btn-primary mt-5"
     (click)="checkValid()"
    >
      Submit
    </button>
  </form>
</div>
<ng-template #indicatorExist>
  <input type="file" id="file" class="form-control-file" />
</ng-template>

<!-- Affichage indicateur -->
<div class="container mt-5">
  <table class="table table-striped text-center">
    <thead style="color: white; background-color: rgb(14, 14, 14)">
      <tr>
        <th scope="col">Indicateur</th>
        <th scope="col">Description</th>
        <th scope="col">Objectif</th>
        <th scope="col">Faible</th>
        <th scope="col">Moyen</th>
        <th scope="col">Bon</th>
        <th scope="col">Coefficient</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let i of allIndicators; let x = index"
        [ngClass]="{ 'text-muted': isExpired }"
      >
        <td>
          {{ i["indicatorName"] }}
        </td>
        <td>{{ i["indicatorDesc"] }}</td>
        <td>{{ i["indicatorObjectif"] }} %</td>
        <td>{{ i["indicatorFaible"] }} %</td>
        <td>{{ i["indicatorMoyen"] }} %</td>
        <td>{{ i["indicatorBon"] }} %</td>
        <td>2</td>
        <td>
          <div class="row">
            <div class="col">
              <div class="custom-control custom-switch">
                <input
                  #x
                  type="checkbox"
                  class="custom-control-input"
                  [id]="x"
                  [checked]="isExpired"
                  (change)="onChanged(isExpired)"
                />
                <label class="custom-control-label" [for]="x"
                  >Switched to
                  {{ !isExpired ? "Expired" : "Not expired" }}</label
                >
              </div>
            </div>
            <div class="col">
              <button class="btn btn-warning" [disabled]="isExpired">
                Modifier
              </button>
            </div>
            <div class="col">
              <button class="btn btn-danger" [disabled]="isExpired">
                Supprimer
              </button>
            </div>
          </div>
        </td>
      </tr>
      <tr></tr>
    </tbody>
  </table>
</div>
