<div class="col-sm-3">
  <h5>
    Current Date <span> {{ selectedMonth }}/{{ selectedYear }}</span>
  </h5>
  <div>
    <!-- <button class="btn btn-secondary" (click)="onToggle()">
      {{ btn }}
    </button> -->
    <div class="custom-control custom-switch">
      <input
        #autoManuel
        type="checkbox"
        class="custom-control-input"
        id="autoManuel"
        [checked]="toggleTo"
        (change)="onChange(toggleTo)"
      />
      <label class="custom-control-label" for="autoManuel"
        >Switched to {{ toggleTo ? "Auto" : "Manual" }}</label
      >
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <select class="mt-5 form-control text-center" [(ngModel)]="selectedMonth">
        <option *ngFor="let item of month" [value]="item">{{ item }}</option>
      </select>
    </div>
    <div class="col-sm-6">
      <select class="mt-5 form-control text-center" [(ngModel)]="selectedYear">
        <option *ngFor="let item of year" [value]="item">{{ item }}</option>
      </select>
    </div>
  </div>
</div>
<div class="myform">
  <div class="col-sm-5">
    <form *ngIf="toggleTo" [formGroup]="simulationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Réalisation"
          formControlName="realisation"
        />
      </div>
    </form>
  </div>

  <div class="card text-center mt-5">
    <div class="card-header">Bulletin</div>
    <div class="card-body" *ngFor="let i of allIndicators">
      <h5 class="card-title">{{ i["indicatorName"] }}</h5>
      <p class="card-text">{{ i["indicatorDesc"] }}</p>
      <h4>{{ retRealisation() }} %</h4>
      <div [ngStyle]="{ color: getColor() }">
        <div>
          {{ rep }}
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">Mensuelle</div>
  </div>
</div>
