<div class="col-sm-3">
  <h5>
    Current Date <span> {{ selected }} {{ currentYear }}</span>
  </h5>
  <div>
    <button class="btn btn-secondary" (click)="onToggle()">
      {{ btn }}
    </button>
  </div>
  <select class="mt-5 form-control col-sm-2 text-center" [(ngModel)]="selected">
    <option [value]="item" *ngFor="let item of month; let i = index">
      {{ item }}
    </option>
  </select>
  <form *ngIf="isCheck" [formGroup]="simulationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Réalisation"
        formControlName="realisation"
      />
    </div>
  </form>
</div>
<div class="card text-center mt-5">
  <div class="card-header">Bulletin</div>
  <div class="card-body" *ngFor="let i of allIndicators">
    <h5 class="card-title">{{ i["indicatorName"] }}</h5>
    <p class="card-text">{{ i["indicatorDesc"] }}</p>
    <h4>{{ realisation }} %</h4>
    <div [ngStyle]="{ color: getColor() }">
      <div>
        {{ rep }}
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">Mensuelle</div>
</div>
<!-- <button type="submit" class="btn btn-warning">Exporter en PDF</button> -->
